@tailwind base;
@tailwind components;
@tailwind utilities;

/* body {
  color: #ffffffde;
  background-color: #000;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */

@layer base {
  :root {
    /* Name: custom color palette
       Author: Ilias Ism
       URL: https://gradient.page */

    /* CSS: .bg-gradient { background: var(--gradient) } */
    --gradient: #FFE000;

    --background: 56 65% 3%;
    --foreground: 56 10% 97.5%;

    --muted: 56 50% 15%;
    --muted-foreground: 56 10% 55%;

    --popover: 56 45% 6.5%;
    --popover-foreground: 56 10% 97.5%;

    --card: 56 45% 6.5%;
    --card-foreground: 56 10% 97.5%;

    --border: 56 50% 15%;
    --input: 56 50% 15%;

    --primary: 56 100% 50%;
    --primary-foreground: 56 10% 5%;

    --secondary: 56 50% 15%;
    --secondary-foreground: 56 10% 97.5%;

    --accent: 56 50% 15%;
    --accent-foreground: 56 10% 97.5%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 56 10% 97.5%;

    --ring: 56 100% 50%;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}